<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bibliothèque</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/bootstrap-select.min.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:replace="header :: header"></div>
<div class="container">
    <h1>Creation d'une réservation</h1>
    <div>
        <form action="#" th:action="@{/reservation/create}" th:object="${reservation}" method="post">
            <div class="form-group col-md-8">
                <label for="oeuvre" class="col-form-label"></label>
                <select th:field="*{oeuvre}" class="selectpicker" id="oeuvre" data-live-search="true" title="Oeuvre de la reservation">
                    <option th:each="oeuvre : ${oeuvres}"
                            th:value="${oeuvre.id}"
                            th:text="${oeuvre.titre}"/>
                </select>
            </div>

            <div class="form-group col-md-8">
                <label for="usager" class="col-form-label"></label>
                <select th:field="*{usager}" class="selectpicker" id="usager" data-live-search="true" title="Usager de la reservation">
                    <option th:each="usager : ${usagers}"
                            th:value="${usager.id}"
                            th:text="${usager.prenom +' '+ usager.nom}"/>
                </select>
            </div>

            <div class="form-group col-md-8">
                <input class="btn btn-primary" type="submit" value="Ajouter reservation" />
            </div>
        </form>
    </div>
</div>
</body>
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap-select.min.js}"></script>
</html>