<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bibliothèque</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:replace="header :: header"></div>
<div class="container">
    <h1>Liste des reservations</h1>
    <div th:if="${reservations.empty}">
        <h3>Il n'y a pas de reservation ici</h3>
    </div>
    <div th:if="${reservations!=null and !reservations.empty}">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Oeuvre</th>
                <th scope="col">Usager</th>
                <th scope="col">Date reservation</th>
                <th scope="col">Emprunter</th>
                <th scope="col">Annuler</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="res,iter : ${reservations}">
                <th scope="row"><span th:text="${iter.index+1}"></span></th>
                <td><span th:text="${res.oeuvre.titre}"></span></td>
                <td><span th:text="${res.usager.nom + ' ' + res.usager.prenom}"></span></td>
                <td><span th:text="${res.datejour}"></span></td>
                <td><a class="btn btn-primary btn-sm" th:href="@{/emprunt/create(id=${res.id}, usager=${res.usager.id}, oeuvre=${res.oeuvre.id})}">emprunter</a></td>
                <td><a class="btn btn-primary btn-sm" th:href="@{/reservation/delete/{id}(id=${res.id})}">annuler</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</html>