<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bibliothèque</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:replace="header :: header"></div>
<div class="container">
    <h1>Creation d'un usager</h1>
    <div class="container">
        <form action="#" th:action="@{/usager/create}" th:object="${usager}" method="post">
            <div class="form-group col-md-6">
                <label for="prenom" class="col-form-label">prenom</label>
                <input type="text" th:field="*{prenom}" id="prenom" class="form-control" placeholder="Prenom" />
                <span th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}" class="text-danger"></span>
            </div>

            <div class="form-group col-md-6">
                <label for="nom" class="col-form-label">Nom</label>
                <input type="text" th:field="*{nom}" id="nom" class="form-control" placeholder="Nom" />
                <span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}" class="text-danger"></span>
            </div>

            <div class="form-group col-md-6">
                <label for="email" class="col-form-label">Email</label>
                <input type="text" th:field="*{email}" id="email" class="form-control" placeholder="Email" />
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
            </div>

            <div class="form-group col-md-6">
                <label for="telephone" class="col-form-label">Telephone</label>
                <input type="text" th:field="*{telephone}" id="telephone" class="form-control" placeholder="Telephone" />
                <span th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}" class="text-danger"></span>
            </div>

            <div class="form-group col-md-8">
                <input class="btn btn-primary" type="submit" value="Ajouter usager" />
                <input class="btn btn-secondary" type="reset" value="Mettre à zéro" />
            </div>
        </form>
    </div>
</div>
</body>
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</html>