<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bibliothèque</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:replace="header :: header"></div>
<div class="container">
    <h1>Liste des usagers</h1>
    <div th:if="${usagers.empty}">
        <h3>Il n'y a pas d'usager ici</h3>
    </div>
    <div th:if="${usagers!=null and !usagers.empty}">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Prenom</th>
                <th scope="col">Nom</th>
                <th scope="col">Email</th>
                <th scope="col">Téléphone</th>
                <th scope="col">Modifier</th>
                <th scope="col">Supprimer</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="usager,iter : ${usagers}">
                <th scope="row"><span th:text="${iter.index+1}">Id</span></th>
                <td><span th:text="${usager.prenom}">Prenom</span></td>
                <td><span th:text="${usager.nom}">Nom</span></td>
                <td><span th:text="${usager.email}">Email</span></td>
                <td><span th:text="${usager.telephone}">Telephone</span></td>
                <td><a class="btn btn-primary btn-sm" th:href="@{/usager/edit/{id}(id=${usager.id})}">edit</a></td>
                <td><a class="btn btn-primary btn-sm" th:href="@{/usager/delete/{id}(id=${usager.id})}">supp</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
<footer>

</footer>
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</html>