<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bibliothèque</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/bootstrap-select.min.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:replace="header :: header"></div>
<div class="container">
    <h1>Creation d'un emprunt</h1>
    <div>
        <form action="#" th:action="@{/emprunt/create}" th:object="${emprunt}" method="post">
            <div class="form-group col-md-8">
                <label for="usager" class="col-form-label">Usager</label>
                <select th:field="*{usager}" class="selectpicker" id="usager" data-live-search="true" title="Usager">
                    <option th:each="usager : ${usagers}"
                            th:value="${usager.id}"
                            th:text='${usager.prenom + " " + usager.nom}'/>
                </select>
            </div>
            <div class="form-group col-md-8">
                <label for="exemplaire" class="col-form-label">Exemplaire</label>
                <select th:field="*{exemplaire}" class="selectpicker" id="exemplaire" data-live-search="true" title="Exemplaire">
                    <option th:each="exemplaire : ${exemplaires}"
                            th:value="${exemplaire.id}"
                            th:text='${exemplaire.oeuvre.titre+ " - " +exemplaire.etat+" "+exemplaire.dispo}'/>
                </select>
            </div>
            <div class="form-group">
                <p>Retour prévu au bout de 7 jours</p>
            </div>

            <div class="form-group col-md-8">
                <input class="btn btn-primary" type="submit" value="Ajouter emprunt" />
            </div>
        </form>
    </div>
</div>
</body>
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap-select.min.js}"></script>
</html>