<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bibliothèque</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:replace="header :: header"></div>
<div class="container">
    <h1>Liste des emprunts</h1>
    <div th:if="${emprunts.empty}">
        <h3>Il n'y a pas d'emprunt ici</h3>
    </div>
    <div th:if="${emprunts!=null and !emprunts.empty}">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Oeuvre</th>
                <th scope="col">Usager</th>
                <th scope="col">Date emprunt</th>
                <th scope="col">Date retour prévu</th>
                <th scope="col">Rendre exemplaire</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="emp,iter : ${emprunts}">
                <th scope="row"><span th:text="${iter.index+1}"></span></th>
                <td><span th:text="${emp.exemplaire.oeuvre.titre}"></span></td>
                <td><span th:text="${emp.usager.nom + ' ' + emp.usager.prenom}"></span></td>
                <td><span th:text="${emp.datejour}"></span></td>
                <td><span th:text="${emp.dateretour}"></span></td>
                <td><a class="btn btn-primary btn-sm" th:href="@{/emprunt/rendre/{id}(id=${emp.id})}">rendre</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</html>