<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bibliothèque</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/bootstrap-select.min.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:replace="header :: header"></div>
<div class="container">
    <h1>Retour d'un exemplaire</h1>
    <div>
        <form action="#" th:action="@{/emprunt/rendre/{id}(id=${idEmprunt})}" th:object="${emprunt}" method="post">
            <div class="form-group col-md-8">
                <label for="usager" class="col-form-label">Usager</label>
                <select th:field="*{usager}" class="selectpicker" id="usager" data-live-search="true" title="Usager">
                    <option th:value="${emprunt.usager.id}"
                            th:text='${emprunt.usager.nom + " " + emprunt.usager.prenom}'/>
                </select>
            </div>
            <div class="form-group col-md-8">
                <label for="exemplaire" class="col-form-label">Titre de l'exemplaire</label>
                <select th:field="*{exemplaire}" class="selectpicker" id="exemplaire" data-live-search="true" title="Exemplaire">
                    <option th:value="${emprunt.exemplaire.id}"
                            th:text='${emprunt.exemplaire.oeuvre.titre}'/>
                </select>
            </div>
            <div class="form-group col-md-8">
                <label for="etat" class="col-form-label">Etat de l'exemplaire</label>
                <select th:field="*{exemplaire.etat}" class="selectpicker" id="etat" data-live-search="true" title="Exemplaire">
                    <option th:each="etatPossible : ${T(fr.miage.entity.enumerateur.Etat).values()}" th:value="${etatPossible}" th:text="${etatPossible.displayValue}" th:selected="${etatPossible==emprunt.exemplaire.etat}">
                </select>
            </div>

            <div class="form-group col-md-8">
                <input class="btn btn-primary" type="submit" value="Rendre l'exemplaire" />
            </div>
        </form>
    </div>
</div>
</body>
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap-select.min.js}"></script>
</html>