<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bibliothèque</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/bootstrap-select.min.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:replace="header :: header"></div>
<div class="container">
    <h1>Ajout d'une oeuvre</h1>
    <div>
        <form action="#" th:action="@{/oeuvre/create}" th:object="${oeuvre}" method="post">
            <div class="form-group col-md-6">
                <label for="titre" class="col-form-label">Titre</label>
                <input type="text" th:field="*{titre}" id="titre" class="form-control" placeholder="Titre" />
                <span th:if="${#fields.hasErrors('titre')}" th:errors="*{titre}" class="text-danger"></span>
            </div>

            <div class="form-group col-md-8">
                <label for="type" class="col-form-label">Type de l'oeuvre</label>
                <select th:field="*{type}" class="selectpicker" id="type" data-live-search="true" title="Type">
                    <option th:each="typePossible : ${T(fr.miage.entity.enumerateur.Type).values()}" th:value="${typePossible}" th:text="${typePossible.displayValue}">
                </select>
            </div>

            <div class="form-group col-md-8" id="auteurdiv">
                <label for="auteur" class="col-form-label">Auteur du livre</label>
                <select name="idauteur" class="selectpicker" id="auteur" data-live-search="true" title="Auteur">
                    <option th:each="auteur : ${auteurs}"
                            th:value="${auteur.id}"
                            th:text='${auteur.prenom + " " + auteur.nom}'/>
                </select>
            </div>

            <div class="form-group col-md-8">
                <input class="btn btn-primary" type="submit" value="Ajouter oeuvre" />
            </div>
        </form>
    </div>
</div>
</body>
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap-select.min.js}"></script>

<script type="application/javascript">
$("#auteurdiv").hide();
$("#auteur").addClass('disabled');
$("#type").change(function () {
    if($("#type").val() == 'LIVRE') {
        $("#auteurdiv").show();
        $("#auteur").addClass('disabled');
    } else {
        $("#auteurdiv").hide();
        $("#auteur").addClass('disabled');
    }
});
</script>
</html>