<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bibliothèque</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:replace="header :: header"></div>
<div class="container">
    <h1>Liste des oeuvres</h1>
    <div th:if="${oeuvres.empty}">
        <h3>Il n'y a pas d'oeuvre ici</h3>
    </div>
    <div th:if="${oeuvres!=null and !oeuvres.empty}">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Titre</th>
                <th scope="col">Stock</th>
                <th scope="col">Type</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="oeuvre,iter : ${oeuvres}">
                <th scope="row"><span th:text="${iter.index+1}"></span></th>
                <td><span th:text="${oeuvre.titre}"></span></td>
                <td><span th:text="${oeuvre.stock}"></span></td>
                <td><span th:text="${oeuvre.type}"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</html>