<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bibliothèque</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:replace="header :: header"></div>
<div class="container">
    <h1>Liste des exemplaires</h1>
    <div th:if="${exemplaires.empty}">
        <h3>Il n'y a pas d'exemplaire ici</h3>
    </div>
    <div th:if="${exemplaires!=null and !exemplaires.empty}">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Oeuvre</th>
                <th scope="col">Etat</th>
                <th scope="col">Dispo</th>
                <th scope="col">Modifier</th>
                <th scope="col">Supprimer</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="exemplaire,iter : ${exemplaires}">
                <th scope="row"><span th:text="${iter.index+1}"></span></th>
                <td><span th:text="${exemplaire.oeuvre.titre}"></span></td>
                <td><span th:text="${exemplaire.etat.displayValue}"></span></td>
                <td><span th:if="${exemplaire.dispo}">Oui</span><span th:unless="${exemplaire.dispo}">Non</span></td>
                <td><a class="btn btn-primary btn-sm" th:href="@{/exemplaire/edit/{id}(id=${exemplaire.id})}">edit</a> </td>
                <td><a class="btn btn-primary btn-sm" th:href="@{/exemplaire/delete/{id}(id=${exemplaire.id})}">supp</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</html>