<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bibliothèque</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/bootstrap-select.min.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:replace="header :: header"></div>
<div class="container">
    <h1>Modifier un exemplaire</h1>
    <div>
        <form action="#" th:action="@{/exemplaire/edit/{id}(id=${exemplaire.id})}" th:object="${exemplaire}" method="post">
            <div class="row">
                <div class="form-group col-md-8">
                    <label for="etat" class="col-form-label">Etat de l'<ex></ex>emplaire</label>
                    <select th:field="*{etat}" class="selectpicker" id="etat" data-live-search="true" title="Exemplaire">
                        <option th:each="etatPossible : ${T(fr.miage.entity.enumerateur.Etat).values()}" th:value="${etatPossible}" th:text="${etatPossible.displayValue}" th:selected="${etatPossible==exemplaire.etat}">
                    </select>
                </div>

                <div class="form-group col-md-8">
                    <input class="btn btn-primary" type="submit" value="Mettre à jour" />
                </div>
            </div>
        </form>
    </div>
</div>
</body>
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap-select.min.js}"></script>
</html>