<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="header">
        <div class="navbar-header">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".nav-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">Bibliothèque Gerard Gousset</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="nav-item" th:classappend="${module == 'home' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/}">Accueil</a>
                </li>
                <li class="nav-item dropdown" th:classappend="${module == 'usager' ? 'active' : ''}">
                    <a class="nav-link dropdown-toggle" id="dropdownUsager" role="button" data-toggle="dropdown" href="#">
                        Usager
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownUsager">
                        <a class="dropdown-item" th:href="@{/usager/list}">Liste usager</a>
                        <a class="dropdown-item" th:href="@{/usager/create}">Creer usager</a>
                    </div>
                </li>
                <li class="nav-item dropdown" th:classappend="${module == 'auteur' ? 'active' : ''}">
                    <a class="nav-link dropdown-toggle" id="dropdownAuteur" role="button" data-toggle="dropdown" href="#">
                        Auteur
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownEmprunt">
                        <a class="dropdown-item" th:href="@{/auteur/list}">Liste auteur</a>
                        <a class="dropdown-item" th:href="@{/auteur/create}">Creer auteur</a>
                    </div>
                </li>
                <li class="nav-item dropdown" th:classappend="${module == 'oeuvre' ? 'active' : ''}">
                    <a class="nav-link dropdown-toggle" id="dropdownOeuvre" role="button" data-toggle="dropdown" href="#">
                        Oeuvre
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownOeuvre">
                        <a class="dropdown-item" th:href="@{/oeuvre/list}">Liste oeuvre</a>
                        <a class="dropdown-item" th:href="@{/oeuvre/create}">Creer oeuvre</a>
                    </div>
                </li>
                <li class="nav-item dropdown" th:classappend="${module == 'exemplaire' ? 'active' : ''}">
                    <a class="nav-link dropdown-toggle" id="dropdownExemp" role="button" data-toggle="dropdown" href="#">
                        Exemplaire
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownExemp">
                        <a class="dropdown-item" th:href="@{/exemplaire/list}">Liste exemplaire</a>
                        <a class="dropdown-item" th:href="@{/exemplaire/create}">Creer exemplaire</a>
                    </div>
                </li>
                <li class="nav-item dropdown" th:classappend="${module == 'reservation' ? 'active' : ''}">
                    <a class="nav-link dropdown-toggle" id="dropdownReserv" role="button" data-toggle="dropdown" href="#">
                        Reservation
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownReserv">
                        <a class="dropdown-item" th:href="@{/reservation/list}">Liste reservation</a>
                        <a class="dropdown-item" th:href="@{/reservation/create}">Creer reservation</a>
                    </div>
                </li>
                <li class="nav-item dropdown" th:classappend="${module == 'emprunt' ? 'active' : ''}">
                    <a class="nav-link dropdown-toggle" id="dropdownEmprunt" role="button" data-toggle="dropdown" href="#">
                        Emprunt
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownEmprunt">
                        <a class="dropdown-item" th:href="@{/emprunt/list}">Liste emprunt</a>
                        <a class="dropdown-item" th:href="@{/emprunt/create}">Creer emprunt</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>