<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:replace="header :: header"></div>
<div class="container">
    <div class="row">
        <h1>Bonjour !</h1>
    </div>
    <div class="row">
        <p>Bienvenue sur l'application de gestion de la bibliothèque GerardGousset</span></p>
    </div>
    <div class="row">
        <div class="col-md-5 border rounded m-1 p-2">
            <h4>Gestion des usagers, des oeuvres, des exemplaires et des auteurs</h4>
            <div class="col-md-12">
                <h5>Usagers</h5>
                <a class="btn btn-primary" href="/usager/list">Liste</a>
                <a class="btn btn-primary" href="/usager/create">Creer</a>
            </div>
            <div class="col-md-12">
                <h5>Auteurs</h5>
                <a class="btn btn-primary" href="/auteur/list">Liste</a>
                <a class="btn btn-primary" href="/auteur/create">Creer</a>
            </div>
            <div class="col-md-12">
                <h5>Oeuvres</h5>
                <a class="btn btn-primary" href="/oeuvre/list">Liste</a>
                <a class="btn btn-primary" href="/oeuvre/create">Creer</a>
            </div>
            <div class="col-md-12">
                <h5>Exemplaires</h5>
                <a class="btn btn-primary" href="/exemplaire/list">Liste</a>
                <a class="btn btn-primary" href="/exemplaire/create">Creer</a>
            </div>
        </div>

        <div class="col-md-5 border rounded m-1 p-2">
            <h4>Gestion des emprunts et des réservations</h4>
            <div class="col-md-12">
                <h5>Emprunts</h5>
                <a class="btn btn-primary" href="/emprunt/list">Liste</a>
                <a class="btn btn-primary" href="/emprunt/create">Creer</a>
            </div>
            <div class="col-md-12">
                <h5>Réservation</h5>
                <a class="btn btn-primary" href="/reservation/create">Liste</a>
                <a class="btn btn-primary" href="/reservation/list">Creer</a>
            </div>
        </div>
    </div>
</div>
</body>
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</html>