<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bibliothèque</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/bootstrap-select.min.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:replace="header :: header"></div>
<div class="container">
    <h1>Creation d'un emprunt</h1>
    <form action="#" th:action="@{/auteur/create}" th:object="${auteur}" method="post">
        <div class="form-group col-md-6">
            <label for="prenom" class="col-form-label">Prenom</label>
            <input type="text" th:field="*{prenom}" id="prenom" class="form-control" placeholder="Prenom" />
            <span th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}" class="text-danger"></span>
        </div>

        <div class="form-group col-md-6">
            <label for="nom" class="col-form-label">Nom</label>
            <input type="text" th:field="*{nom}" id="nom" class="form-control" placeholder="Nom" />
            <span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}" class="text-danger"></span>
        </div>

        <div class="form-group col-md-8">
            <input class="btn btn-primary" type="submit" value="Ajouter emprunt" />
        </div>
    </form>
</div>
</body>
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap-select.min.js}"></script>
</html>