<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bibliothèque</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:replace="header :: header"></div>
<div class="container">
    <h1>Liste des auteurs</h1>
    <div th:if="${auteurs.empty}">
        <h3>Il n'y a pas d'auteur ici</h3>
    </div>
    <div th:if="${auteurs!=null and !auteurs.empty}">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Prenom</th>
                <th scope="col">Nom</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="auteur,iter : ${auteurs}">
                <th scope="row"><span th:text="${iter.index+1}">Id</span></th>
                <td><span th:text="${auteur.prenom}">Prenom</span></td>
                <td><span th:text="${auteur.nom}">Nom</span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
<footer>

</footer>
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</html>